
  <div>
      <table id="diveTable" class="table table-striped table-hover">
        <thead class="text-center">
          <tr>
            <th>ID<i class="col-2 fa fa-sort float-right" aria-hidden="true"></i></th>
            <th>City<i class="col-2 fa fa-sort float-right" aria-hidden="true"></i></th>
            <th>Country<i class="col-2 fa fa-sort float-right" aria-hidden="true"></i></th>
            <th>Site<i class="col-2 fa fa-sort float-right" aria-hidden="true"></i></th>
            <th>Date<i class="col-2 fa fa-sort float-right" aria-hidden="true"></i></th>
            <th>Bottom Time<i class="col-2 fa fa-sort float-right" aria-hidden="true"></i></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each divelogs as |divelog|}}
            <section>

              <tr class="content" data-id="{{divelog.id}}">
                <td id="{{divelog.id}}">{{divelog.id}}</td>
                <td id="city">{{divelog.city}}</td>
                <td id="country">{{divelog.country}}</td>
                <td id="site">{{divelog.site}}</td>
                <td id="date">{{divelog.date}}</td>
                <td id="time">{{divelog.time}} min</td>
                <td id="edit-{{divelog.id}}" class="edit crudIcon" data-toggle="modal" data-target="#editDiveModal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></td>
                <td>
                  {{!-- <a href="#editDiveModal" class="edit crudIcon" id="edit-{{divelog.id}}" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a> --}}
                  <a class="delete crudIcon btn" id="delete-{{divelog.id}}" data-id="{{divelog.id}}"><i class="material-icons" data-toggle="tooltip" title="Delete" style="color:rgb(28, 173, 228);">&#xE872;</i></a>
                </td>
              </tr>
            </section>
          {{/each}}
        </tbody>
      </table>
  </div>
