
  <div>
    <section data-id="{{divelog.id}}">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>City</th>
            <th>Country</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each divelogs as |divelog|}}
          <!-- <h4 data-id="{{divelog.id}}"> <small> City: {{divelog.city}}</small> <small> Country: {{divelog.country}}</small></h4> -->
          <tr class="content">
            <!-- {{log divelog}} -->
            <!-- {{> partial}}
            Don't uncomment yet -->
            <!-- {{log  this}} -->
            <td id="id">{{divelog.id}}</td>
            <td id="city">{{divelog.city}}</td>
            <td id="country">{{divelog.country}}</td>
            <td>
              <a href="#editDiveModal" class="edit crudIcon" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
              <a href="#deleteDiveModal" class="delete crudIcon" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </section>
  </div>
